.center {
  width: 100%;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#content {
  width: 100%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

.notfound-msg {
  color: black;
  text-align: center;
}

@media (max-width: 813px) {
  #content {
    float: none;
    width: 100%;
  }
}

@media (max-width: 1488px) {
  .center {
    width: 100%;
  }
}

@media (max-width: 1314px) {
  .center {
    width: 100%;
  }
}

.subheader {
  font-size: 18px;
  padding-bottom: 10px;
  color: rgb(122, 122, 122);
}